.card {
  color: black;
  margin: 5px;

  -webkit-box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.75);
  transition: 0.1s ease-in-out;
}
.card-width:hover {
  cursor: pointer;
  transform: scale(1); /* Equal to scaleX(0.7) scaleY(0.7) */
  transition: 0.1s ease-in-out;
}

.card-title-container {
  height: 75px;
}

.card-title {
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
}

.card-label {
  font-weight: bold !important;
  margin-right: 5px;
}

.card-width {
  width: 230px;
  display: inline-block;
  transform: scale(0.9); /* Equal to scaleX(0.7) scaleY(0.7) */
}

.poster-size {
  background-color: black;
  height: 350px;
  display: flex;
  align-items: center; /* Vertical center alignment */
  justify-content: center; /* Horizontal center alignment */
  color: white;
}

.center {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

.no-poster-text {
  font-weight: bold;
  font-style: italic;
  text-align: center;
  margin: auto;
}
