.label-text {
  padding-right: 5px;
  padding-bottom: 3px;
}

.card-body-width {
  width: 50%;
}

.movie-view-img {
  height: auto;
  width: auto;
  position: absolute;
  left: auto;
}

.rating-header {
  margin-top: 15px;
}

.padding {
  margin-top: 15px;
  margin-bottom: 15px;
}
